<header class="container-fluid cd-intro">
    <div class="row header-container">
        <div class="col-md-12 col-sm-12 col-xs-12 header-info text-center cd-intro-title">
            <h1 class="text-uppercase"><%= nonsenseWorlds %></h1>
        </div>
        <img class="header-bg" src="app/img/6ff704d4ea3cc24287e73fa5ba37164e.gif">
    </div>
</header>
<main id="main">
    <section class="container">
        <div class="row item-left about-section">
          <div class="col-md-12 text-center">
              <h3 class="text-uppercase" ><%= aIlab %></h3>
          </div>
            <div class="item-container">
                <div class="col-md-offset-1 col-md-6 col-sm-6">
                    <div class="row item-container-info">
                        <div class="col-md-12">
                            <p><%= nonsenseRuns %></p>
                            <p><%= ourMission %></p>
                            <p><%= ourGoal %></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-6 about-container-img">
                    <a href="https://github.com/nonsensews/guide/wiki" target="_blank">
                        <img src="/app/img/ed9d40166334b6dd2cbb98c18c5fcda2.gif" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row about-section sun">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="text-uppercase" ><%= openSourceCommunity %></h3>
                    </div>
                    <div class="col-md-6 col-sm-6 about-article-left">
                        <p><%= teamWithArtAndScience %></p>
                        <p><%= theOpenSourceLab %></p>
                    </div>
                    <div class="col-md-6 col-sm-6 about-article-right">
                        <p><%= toAchieveOurGoal %></p>
                        <p><%= weCombineMachine %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row item-left about-section">
            <div class="item-container">
                <div class="col-md-4 col-md-offset-1 col-sm-6 about-container-img">
                    <a href='https://github.com/nonsensews' target="_blank"><img src="/app/img/8063f7bc163af19a6ae688e86656b09a.gif" class="img-responsive" alt=""></a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row item-container-info">
                        <div class="col-md-12">
                            <h3 class="h3 text-uppercase"><%= whenIsDone %></h3>
                            <p><%= weHaveNoRoad %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section id="fun_e"></section>
