<header class="container-fluid cd-intro">
    <div class="row header-container">
        <div class="col-md-12 col-sm-12 col-xs-12 header-info text-center cd-intro-title">
            <h1 class="text-uppercase"><%= cloudForestMonkeys %></h1>
        </div>
        <img class="header-bg" src="app/img/6ff704d4ea3cc24287e73fa5ba37164e.gif">
    </div>
</header>
<main id="main">
    <section class="container-fluid">
        <div class="row about-section about-gray-light">
            <div class="container">
                <div class="row item-right">
                    <div class="item-container">
                        <div class="col-md-5 col-md-offset-1 col-sm-6">
                            <div class="row item-container-info">
                                <div class="col-md-12 text-right">
                                    <p><%= spawnAndTrain %></p>
                                    <p><%= challengesArePlayed %></p>
                                    <p><%= behindTheScenes %></p>
                                    <p><%= curiousSendMessage %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-6 item-container-img">
                            <a href="https://twitter.com/nonsensews" target="_blank">
                                <img src="/app/img/ed9d40166334b6dd2cbb98c18c5fcda2.gif" class="img-responsive" alt="Send a message @nonsensews">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row about-section blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                        <h3><%= dontGetThis %></h3>
                        <p><%= growByGroups %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section id="fun_e"></section>
