<main id="main">
    <section class="container-fluid">
        <div class="row about-section about-gray-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-uppercase text-center"><%= privacyPolicy %></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nonsense-separator"></div>
    <article class="container-fluid">
        <div class="row about-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h3 text-uppercase"><%= yourPrivacy %></h2>
            						<p><%= weRespectYourPrivacy %></p>
            						<h2 class="h3 text-uppercase"><%= thirdPartyWebsites %></h2>
            						<p><%= weCooperateWith %></p>
            						<h2 class="h3 text-uppercase"><%= thirdPartyCookies %></h2>
            						<p></p>
            						<h2 class="h3 text-uppercase"><%= privacyPolicyChanges %></h2>
            						<p><%= weHaveAllRights %></p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
