<header class="container-fluid cd-intro">
    <div class="row header-container">
        <div class="col-md-12 col-sm-12 col-xs-12 header-info text-center cd-intro-title">
            <h1><%= openResearchLaboratory %></h1>
        </div>
        <img class="header-bg" src="app/img/6ff704d4ea3cc24287e73fa5ba37164e.gif">
    </div>
</header>
<main id="main">
    <section class="container">
        <div class="row item-left about-section">
            <div class="item-container">
                <div class="col-md-3 col-md-offset-1 col-sm-6 about-container-img">
                    <a href="https://github.com/nonsensews/guide/wiki" target="_blank">
                        <img src="/app/img/95dbe1b5a4e59b2f99d3dad01703f71e.gif" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-offset-1 col-md-6 col-sm-6">
                    <div class="row item-container-info">
                        <div class="col-md-12">
                            <h3 class="text-uppercase"><%= theGoalFunction %></h3>
                            <p><%= determineTheRelative %></p>
                            <p><%= ifItWinsAt %></p>
                            <p><%= GoalsFunction %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row about-section sun">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="text-uppercase" ><%= undecidableDecisions %></h3>
                    </div>
                    <div class="col-md-6 col-sm-6 about-article-left">
                        <p><%= informationModelsAreUsed %></p>
                    </div>
                    <div class="col-md-6 col-sm-6 about-article-right">
                        <p><%= theOthersSystemModels %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row item-left about-section">
            <div class="item-container">
                <div class="col-md-offset-1 col-md-6 col-sm-6">
                    <div class="row item-container-info">
                        <div class="col-md-12">
                            <h3 class="text-uppercase"><%= theSystemsApproach %></h3>
                            <p><%= thisApproachDoesNot %></p>
                            <p><%= theSystemsModelRequire %></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-6 about-container-img">
                    <a href="https://github.com/nonsensews/research/wiki" target="_blank">
                        <img src="/app/img/27b8b64839ffb87fb343a6985df65edf.gif" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<section id="fun_e"></section>
