<header class="container-fluid cd-intro">
    <div class="row header-container">
        <div class="col-md-12 col-sm-12 col-xs-12 header-info text-center cd-intro-title">
            <h1><%= openSourceTechnology %></h1>
        </div>
        <img class="header-bg" src="app/img/6ff704d4ea3cc24287e73fa5ba37164e.gif">
    </div>
</header>
<main id="main">
    <section class="container-fluid">
        <div class="row about-section about-gray-light 27b8b64839ffb87fb343a6985df65edf">
            <div class="container">
                <div class="row item-right">
                    <div class="item-container">
                        <div class="col-md-5 col-md-offset-1 col-sm-6">
                            <div class="row item-container-info">
                                <div class="row item-container-info">
                                    <div class="col-md-12">
                                        <h3 class="text-uppercase"><%= weUseTheZmqProcess %></h3>
                                        <p><%= anIdealDescription %></p>
					<ul>
					    <li><%= problemDescribeHere%></li>
					    <li><%= solutionDescribeHere%></li>
					</ul>
					<p><%= pleaseDoNot %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-6 item-container-img">
                            <a href="https://github.com/nonsensews" target="_blank"><img src="/app/img/7fd4f5241ef34ff20c201e6b39527444.gif" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row item-left about-section">
            <div class="item-container">
                <div class="col-md-3 col-md-offset-1 col-sm-6 about-container-img">
                    <img src="/app/img/95dbe1b5a4e59b2f99d3dad01703f71e.gif" class="img-responsive" alt="">
                </div>
                <div class="col-md-offset-1 col-md-6 col-sm-6">
                    <div class="row item-container-info">
                      <div class="col-md-12 text-right">
                          <h3 class="text-uppercase"><a href="https://twitter.com/nonsensews" target="_blank"><%= joinTheCommunity %></a></h3>
                          <p><%= ourGitHubOrgIs %></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section id="fun_e"></section>
