.cd-intro {
  max-height: 100%;
}
header {
  background-color: #000;
  z-index: -1;
}
.header-bg{
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.cd-intro-title {
  position: absolute;
  z-index: 2;
}

.cd-intro-title h1{
  color: #ffffff;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-top: 40pt;
}

.cd-intro-subtitle {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .header-bg {
    display: none;
  }
  .header-container {
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
  }
  .img-responsive {
    min-width: 100%
  }
}

@media only screen and (min-width: 300px) and (max-width: 734px) {
  body {
    overflow-x: hidden;
  }
  .cd-intro-title h1 {
    font-size: 22px;
    padding-top: 10pt;
  }
  .cd-intro {
    min-width: 100%;
  }
}
