.items {
	padding: 0;
	margin: 5% 0;
}
.items-text{
	p {
		letter-spacing: 2px;
		line-height: 2em;
		margin: 20px 0;
	}
	ul{
		padding-left: inherit;
		li{
			letter-spacing: 2px;
			line-height: 2em;
		}
	}
}
.item-left, .item-right{
	@extend .items;
	@extend .items-text;
}

//about

.about-section {
	padding: 5% 0;
	@extend .items-text;
}
.about-gray-light {
	background-color: #f8f8f8;
}
.blue {
	background-color: #83AFDF;
	a {
		color: white;
	}
}
.sun {
	background-color: #f8f8f8;
	a {
		color: #ef7a1e;
	}
}
.mars {
	background-color: #f8f8f8;
	a {
		color: #f38972;
	}
}
.earth {
	a {
		color: #1a8b9c;
	}
}
.nonsense-separator {
    content: '';
    background: url(../img/e33453f09f4a50a0670a2a2f9ec9ec7e.gif) center center no-repeat;
    height: 100px;
	margin: -50px 0;
}
.nonsense-separator img {
    margin: auto;
}

//landing
.about-section .landing-txt {
	line-height: 1.2em;
}
label {
	&.error {
		font-weight: normal;
		line-height: 2em;
		color: #d95379;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.about-section{
		.landing-txt {
			padding: 10% 0;
			margin: 5%;
		}
	}
}
@media only screen and (min-width: 300px) and (max-width: 734px) {
	.nonsense-separator {
	    background: url(../img/8a7de2b6a8cd32670c4808002080d04f.gif) center center no-repeat;
	    height: 50px;
		margin: -25px 0;
	}
	.img-responsive {
    min-width: 100%
  }
}
