.navbar-inverse {
	color: white;
	line-height: 50px;
	ul {
		margin-bottom: 0;
	}
	a {
		color: white;
	}
}
.navbar{
	padding: 1% 0;
}
//extra
.dark-gray {
	background-color: #393939;
}
.extra-container {
	padding: 2% 0;
	@extend .dark-gray;
	.h5 {
		letter-spacing: 2px;
		color: white;
	}
	a {
		line-height: 2em;
		color: white;
		&:hover {
			color: #2a9ec5;
		}
		&:active {
			color: #2a9ec5;
		}
	}
	.about-container {
		ul {
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		}
	}
	.social-container {
		li {
			padding: 0 10px;
			font-size: 20px;
			&:first-child {
				padding-left: 5px;
			}
		}
	}
	.subscribe-container {
		form{
			.col-md-9 {
				padding-left: 0;
			}
			input{
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;
				border: none;
				border-bottom: 1px solid white;
				color: white;
				letter-spacing: 2px;
				padding-top: 10px;
				padding-bottom: 3px;
				width: 100%;
				&::-webkit-input-placeholder{
					color: white;
					letter-spacing: 2px;
				}
				&:focus{
					border-color: transparent;
					border-bottom: 1px solid white;
					outline: 0; 
					&::-webkit-input-placeholder{
					opacity: 0.6;
					}
				}
			}
			button {
				width: 100%;
				&.btn-primary {
					color: #393939;
					background-color: white;
					border: 1px solid white;
					&:hover {
						color: #393939;
						background-color: #2a9ec5;
						border: 1px solid #2a9ec5;
					}
					&:active {
						color: #393939;
						background-color: #2a9ec5;
						border: 1px solid #2a9ec5;
					}
					&:focus {
						color: #393939;
						background-color: #2a9ec5;
						border: 1px solid #2a9ec5;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 300px) and (max-width: 734px) {
	.extra-container {
		text-align: center;
		h3 {
			margin-bottom: 5px;
			margin-top: 25px;
		}
	    .extra-landing{
	    	li {
	    		display: inline;
	    		&:after{
	    			content:'-';
	    		}
	    		&:last-child{
	    			&:after {
	    				content:'';
	    			}
	    		}
	    	}
	    }
	    .subscribe-container {
	    	.subscribe-input .col-xs-12 {
	    		margin-bottom: 	20px;
	    		padding-left: 	15px;
	    	}
	    	.subscribe-submit {
	    		margin-bottom: 	20px;
	    	}
	    }
	}
	.footer-container {
		text-align: center;	
		ul {
			position: 	relative;
			margin-right: 	auto;
			margin-left: 	auto;	
			float: 	initial !important;	
		}
		li {
			display: 	inline;	
	    	a {
	    		display: inline;
	    		padding: 0;
	    	}
	    }
	}
	.about-container-img,
	.item-container-img {
		width: 50%;
	    margin: auto;
	}
}
@media only screen and (min-width: 735px) and (max-width: 1200px) {
	.extra-container {
		h3 {
			margin-bottom: 5px;
			margin-top: 25px;
		}
	    
	    .subscribe-container {
	    	.subscribe-input .col-xs-12 {
	    		margin-bottom: 	20px;
	    	}
	    	.subscribe-submit {
	    		margin-bottom: 	20px;
	    		&.col-xs-12 {
	    		padding-left: 0;
	    		}
	    	}
	    }
	}
	
}
