<section id="extra" class="extra-container">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-3 about-container extra-landing">
          <h3 class="h5 text-uppercase"><%= theMultiverse %></h3>
          <ul>
            <li role="presentation">
              <a class="btn-header" href="/about">
                <%= about %>
              </a>
            </li>
            <li role="presentation">
              <a class="btn-header" href="/research">
                <%= research %>
              </a>
            </li>
            <li role="presentation">
              <a class="btn-header" href="/technology">
                <%= technology %>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-4 social-container">
          <h3 class="h5 text-uppercase"><%= spaceLaboratory %></h3>
          <ul class="list-inline">
            <li class="social"><a role="presentation" href="https://github.com/nonsensews/guide" target="_blank"><i class="fa fa-book"></i></a></li>
            <li class="social"><a role="presentation" href="https://github.com/nonsensews/research" target="_blank"><i class="fa fa-flask"></i></a></li>
            <li class="social"><a role="presentation" href="https://github.com/nonsensews" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="social"><a role="presentation" href="https://twitter.com/nonsensews" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="social"><a role="presentation" href="https://travis-ci.org/nonsensews" target="_blank"><i class="fa fa-check-square-o"></i></a></li>
          </ul>
        </div>
        <div id="fun_es"></div>
      </div>
    </div>
  </div>
</section>
