<div class="col-md-6 col-xs-12 col-sm-5 subscribe-container">            
    <h3 class="h5 text-uppercase"><%= subscribe %></h3>
    <form id="e_frm" class="form-horizontal">
        <div class="input-group subscribe-input">
        	<div class="col-md-9 col-xs-12">
		        <input id="email" name="subscribe_email" type="email" required placeholder="Your email">
		    </div>
        </div>
        	<div class="col-md-3 col-xs-12 subscribe-submit">
        		<button id="e_s" class="btn btn-primary" type="submit"><%= pressStart %></button>
        	</div>
        </div>
    </form>                                 
</div>